{% extends "base.html" %}
{% block content %}

<h2>Новое подключение</h2>

<form method="post">

<select name="client_id" class="form-select mb-2">
    {% for c in clients %}
    <option value="{{ c.id }}">{{ c.full_name }}</option>
    {% endfor %}
</select>

<select name="service_id" class="form-select mb-2">
    {% for s in services %}
    <option value="{{ s.id }}">{{ s.name }}</option>
    {% endfor %}
</select>

<input type="date" name="date" class="form-control mb-2">

<button class="btn btn-success">Подключить</button>

</form>

{% endblock %}
