{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">Клиенты</h2>

<div class="d-flex justify-content-between mb-3">
    <form method="get" class="d-flex w-50">
        <input name="search" class="form-control me-2" placeholder="Поиск">
        <button class="btn btn-primary btn-modern">Найти</button>
    </form>

    <a href="/add_client" class="btn btn-success btn-modern">+ Добавить</a>
</div>

<div class="table-custom">
<table class="table mb-0 text-light">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th></th>
    </tr>

    {% for c in clients %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.full_name }}</td>
        <td>{{ c.phone }}</td>
        <td>
            <a href="/edit_client/{{ c.id }}" class="btn btn-warning btn-sm btn-modern">✏️</a>
            <a href="/delete_client/{{ c.id }}" class="btn btn-danger btn-sm btn-modern">🗑</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
