{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Подключения</h2>

<a href="/add_subscription" class="btn-pro mb-3">+ Подключить</a>

<table class="table-pro">

<tr>
    <th>ID</th>
    <th>Клиент</th>
    <th>Услуга</th>
    <th>Дата</th>
    <th>Статус</th>
    <th></th>
</tr>

{% for s in subs %}
<tr>
    <td>{{ s.id }}</td>
    <td>{{ s.full_name }}</td>
    <td>{{ s.name }}</td>
    <td>{{ s.start_date }}</td>

    <td>
        {% if s.status == "Активна" %}
            <span class="status active">Активна</span>
        {% else %}
            <span class="status off">Отключена</span>
        {% endif %}
    </td>

    <td>
        <a href="/toggle_sub/{{ s.id }}" class="btn-warning-pro btn-pro">↻</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}
