{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Тарифы</h2>

<a href="/add_tariff" class="btn-pro mb-3">+ Добавить тариф</a>

<table class="table-pro">

<tr>
    <th>ID</th>
    <th>Название</th>
    <th>Тип</th>
    <th>Скорость</th>
    <th>Каналы</th>
    <th>Цена</th>
</tr>

{% for t in tariffs %}
<tr>
    <td>{{ t.id }}</td>
    <td>{{ t.name }}</td>
    <td>{{ t.type }}</td>
    <td>{{ t.speed }} Мбит</td>
    <td>{{ t.channels }}</td>
    <td>{{ t.price }} ₸</td>
</tr>
{% endfor %}

</table>

{% endblock %}
